<div id="landImageContainer">
    <img id="landImage" src="index.gif" />
</div>
<div id="landTextContainer custom-font">
    <h1>FrontEnd Blog (moslisnas) </h1>
    <p>In this blog you will find useful information about how to be a FrontEnd Enginer.</p>
    <p>I'll explain my personal experience and the step to step to get this achievement. To explain that you have more information at <a href="/career-path">Career Path</a> menu.</p>
    <p>At <a href="/posts">Posts</a> menu you can see some news/topics analized by me about the FrontEnd world.</p>
    <p>Finally you can go to <a href="/contact">Contact</a> menu to ask me some questions, give me advices about this web or another intereseting topics about FrontEnd</p>
</div>